<form>
  <div class="form-group">
    <label for="title">Title:</label>
    <input id="title" class="form-control" #newtitle>
  </div>
  <div class="field">
    <label for="link">Link:</label>
    <input id="link" class="form-control" #newlink>
  </div>

  <!-- added this button -->
  <button (click)="addArticle(newtitle, newlink)"
          class="btn btn-primary">
    Submit link
  </button>

  <div [ngSwitch]="firstValue" *ngIf="!!firstValue">
    <span *ngSwitchCase="0">第一个值是{{firstValue}}--0</span>
    <span *ngSwitchCase="1">第一个值是{{firstValue}}--1</span>
    <span *ngSwitchDefault>第一个值是{{firstValue}}--default</span>
  </div>
</form>
